/* Default styles */
html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


.header {
    margin: 0px 15px;
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.nav__link {
    margin: 0 15px;

    color: #518c6b;
    text-decoration: none;

    transition: .1s linear;
}

.nav__link:hover {
    color: #c4d8cd;
    text-decoration: underline;
}

.header__contacts {
    position: relative;
    padding-right: 30px;
}

.contacts__icon{
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 1;
}

.contacts__icon img{
    width: 25px;
    height: 25px;
}


/*SliderInner===========*/

.sliderInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/intro/slidintro-1.jpg) center no-repeat;
    background-size: cover;
}

.slider__item {
    max-width: 415px;
    margin: 0 auto;
}

.slider__title {
    font-family: 'Lobster', cursive;
    font-size: 47px;
    color: #f9f3f3;
    text-align: center;
}

.slider__subtitle {
    /*margin-top: 60px;*/
    text-align: center;

    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #f9f3f3;
}


/*About===========*/


.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 70px 10px;
}

.about__right {
    width: 49%;
    height: 400px;
    background: url(../img/about/about-1.jpg) center no-repeat;
    background-size: cover;
    z-index: 5;
}

.about__left {
    width: 49%;
}

.about__title h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #518c6b;
}

.about__subtitle {
    padding-top: 30px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: #05130b;
}

.about__subtitle p {
    padding-bottom: 15px;
}


/*Слайдер*/
.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}


.sliderMenu {
    position: relative;
    padding: 0 168px;
}
.sliderMenu__item img{
    margin: 0 3px;
}

.sliderMenu .slick-arrow {
    position: absolute;
    margin: -16px 0 0 0;
    border: 0;
    width: 33px;
    height: 33px;
    top: 50%;
    z-index: 10;
    font-size: 0;
}

.sliderMenu .slick-arrow.slick-prev {
    left: 0;
    background: url(../img/slider/prev.svg) 0 0 / 100% no-repeat;
}

.sliderMenu .slick-arrow.slick-next {
    right: 0;
    background: url(../img/slider/next.svg) 0 0 / 100% no-repeat;
}

.sliderMenu .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderMenu .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.sliderMenu .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
}

.sliderMenu__item slick-slide slick-current slick-active{
    width: 100%;
}

/*Menu============*/

.menu {
    margin: 70px 0;
    padding: 0 10px;
}

.menu__all {
    max-width: 500px;
    margin: 0 auto;
}

.menu__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #518c6b;
}

.menu__name {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu__designation{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: #05130b;
}

.small-cup {
    width: 30px;
    height: 30px;
    margin-right: 22px;
}

.big-cup {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menu__item {
    margin: 30px 0;

    display: flex;
    justify-content: space-between;
}

.menu__list {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #05130b;
}

.menu__price {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #05130b;
}



/*Contacts===========*/

.contacts__title {
    margin-bottom: 70px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #518c6b;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.contacts__btn {
    display: flex;
    width: 40%;
    align-items: center;
    padding: 5px 15px;
    border-radius: 2px;
    background-color: #518c6b;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: .1s linear;
}

.contacts__btn:hover {
    background-color: #c4d8cd;
}

.contacts__inst img{
    margin-left: 25px;
    width: 35px;
    height: 35px;
}

.contacts__name {
    font-size: 20px;
    color: #000;
    margin-left: 20px;
}

.contacts__left {
    width: 25%;
    font-size: 16,5px;
    color: #518c6b;
}

}

.contacts__right {
    width: 25%;
    font-size: 24px;
    color: #518c6b;

}
.contacts__adress {
    padding-left: 17px;
    font-size: 20px;
    color: #518c6b;
}



/*Media===========*/

@media (max-width: 1170px) {

}

@media (max-width: 1077px) {
    .about {
        margin: 20px 0;
    }

    .about__title h2 {
        font-size: 35px;
    }

    .about__subtitle {
        padding-top: 10px;
        font-size: 25px;
    }

}

@media (max-width: 500px) {

    .slider__title {
        font-size: 65px;
    }

    .about {
        flex-direction: column;
    }
    .about__right {
        width: 100%;
    }

    .about__left {
        width: 100%;
    }
    .sliderMenu {
        width: 100%;
        padding: 0 87px;
    }

    .slider__title {
        font-size: 45px;
    }

    .slider__subtitle {
        font-size: 32px;
    }
}

@media (max-width: 743px) {
    .about {
        margin: 15px 0;
    }

    .about__title h2 {
        font-size: 30px;
    }

    .about__subtitle {
        padding-top: 7px;
        font-size: 20px;
    }

}

@media (max-width: 900px) {
    .nav {
        display: none;
    }

}

@media (max-width: 376px){
    .about {
        flex-direction: column;
        margin: 20px 0;
    }

    .about__right {
        width: 100%;
    }

    .about__left {
        width: 100%;
    }

    .about__title h2 {
        font-size: 30px;
    }

    .about__subtitle {
        padding-top: 0;

        font-size: 20px;
    }

    .about__subtitle p {
        padding-bottom: 0;
    }

    .contacts__item {
        flex-direction: column;
    }

    .sliderMenu {
        width: 100%;
        padding: 0 65px;
    }
}
